<div class="row">
  <div class="col s12">
    <div class="valign">
      <div>
        <h1 class="header center white-text">
          <span class="red-text text-lighten-3">Net</span>Book
        </h1>
        <p class="flow-text center white-text">Проверка на ученически картон</p>

        <form action="https://ekarton.net" method="post">
          <div class="container">
            <div class="row">
              <div class="input-field col s12 m4 push-m4">
                <input id="egn" name="egn" type="text" value="" />
                <label for="egn">ЕГН / ЛНЧ</label>
              </div>
            </div>
          </div>
          <p class="center">
            <button
              id="next"
              type="submit"
              class="button-total button-3 button-3e icon-arrow-right red lighten-3 white-text"
            >
              Напред
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
