<body>
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="title" style="position: relative">
                        <div class="row">
                            <div class="col s12" style="margin-top: 28px">
                                <h4 class="white-text">Създай учител</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-panel white">
                        <form #createForm="ngForm" (click)="createHandler(createForm.value)">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <label>Име</label>
                                    <input #firstNameInput="ngModel" ngModel name="first_name" type="text" required>
                                    <span class="red-text"
                                        *ngIf="firstNameInput.invalid && firstNameInput.touched">First Name
                                        is required</span>
                                </div>
                                <div class="input-field col s12 m6">
                                    <label>Фамилия</label>
                                    <input #lastNameInput="ngModel" ngModel name="last_name" type="text" required>
                                    <span class="red-text" *ngIf="lastNameInput.invalid && lastNameInput.touched">Last
                                        Name
                                        is required</span>
                                </div>
                                <div class="input-field col s12 m6">
                                    <label>Емейл</label>
                                    <input #emailInput="ngModel" ngModel name="email" type="email" required email>
                                    <span class="red-text" *ngIf="emailInput.invalid && emailInput.touched">Email is
                                        invalid</span>
                                </div>
                                <div class="input-field col s12 m6">
                                    <label>Телефон</label>
                                    <input #phoneInput="ngModel" ngModel name="phone" type="text" required>
                                    <span class="red-text" *ngIf="phoneInput.invalid && phoneInput.touched">Phone is
                                        required</span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 34px">
                                <div class="right-align">
                                    <button [disabled]="createForm.invalid"
                                        class="btn waves-effect waves-light gradient-animation">Запази
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <a class="waves-effect btn-flat left" routerLink="/teachers/all"
                style="margin-top: -20px; color: #909090"><i
                    class="material-icons left">keyboard_arrow_left</i>Назад</a>
        </div>
    </main>
</body>