<header>
    <ul id="nav-mobile" class="side-nav fixed gradient-animation" style="transform: translateX(0px);">
        <li class="hide-on-small-only">
            <div class="userView">
                <a style="cursor: default;"><span class="white-text name" style="margin-top: 0">Учител
                        NetBook</span></a>
            </div>
        </li>
        <li class="no-padding">
            <ul>
                <li>
                    <a routerLink="/subjects/all" style="color: white;"><i class="material-icons">group_work</i>Учебни
                        предмети</a>
                </li>
                <li>
                    <a routerLink="/students/all" style="color: white;"><i class="material-icons">people</i>Ученици</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="waves-effect" (click)="logoutHandler()" style="text-transform: uppercase; bottom: 60px; position: fixed; width: 100%;text-align: center; 
                background-color: rgba(255,255,255,.05); font-size: 18px; color: white;">Изход</a>
        </li>
    </ul>
</header>